./lec08/kaggle_train_data_tab.csv.gz
./lec08/kaggle_test_data_tab.csv
./lec08/kaggle_train_data_tab.csv
./lec09/antispam-infopoisk/kaggle_train_data_tab.csv.gz
./lec09/antispam-infopoisk/kaggle_test_data_tab.csv.gz
